a:link {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: green;
}
p.cen {
	padding-top: 10%;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}